In [22]:
from dotenv import load_dotenv
import os
import requests
import alpaca_trade_api as tradeapi
import pandas as pd

In [23]:
load_dotenv('api.env')

True

In [24]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [25]:
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [26]:
alpaca = tradeapi.REST(
    alpaca_api_key,alpaca_secret_key,
    api_version="v2")

In [27]:
symbol='SPY'
timeframe = '1H'
start_date = pd.Timestamp("2013-01-01", tz="America/New_York").isoformat()

In [28]:
historical_data = alpaca.get_bars(symbol, timeframe, start=start_date).df

In [29]:
historical_data

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2015-12-01 09:00:00+00:00,209.43,209.440,209.2400,209.300,30375,82,209.322606
2015-12-01 10:00:00+00:00,209.30,209.360,209.0700,209.360,54490,118,209.214253
2015-12-01 11:00:00+00:00,209.37,209.650,209.3700,209.440,44404,109,209.526441
2015-12-01 12:00:00+00:00,209.45,209.590,209.3300,209.510,111106,234,209.460429
2015-12-01 13:00:00+00:00,209.52,209.670,209.2700,209.320,426233,645,209.429479
...,...,...,...,...,...,...,...
2023-03-21 16:00:00+00:00,395.90,396.880,395.6600,396.410,8021999,57932,395.651885
2023-03-21 17:00:00+00:00,396.42,397.419,396.1500,396.275,7401692,57939,396.155466
2023-03-21 18:00:00+00:00,396.27,397.930,396.2400,397.660,7540870,59853,396.628225
2023-03-21 19:00:00+00:00,397.65,399.410,397.6000,398.870,24108620,154942,397.963855
2023-03-21 20:00:00+00:00,398.88,399.030,397.4136,398.900,5905088,3356,397.933142