In [102]:
from dotenv import load_dotenv
import os
import requests
import alpaca_trade_api as tradeapi
import pandas as pd
import numpy as np

In [103]:
load_dotenv('api.env')

True

In [104]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [105]:
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [106]:
alpaca = tradeapi.REST(
    alpaca_api_key,alpaca_secret_key,
    api_version="v2")

**For low risk tolerance**

In [107]:
symbol='SPY'
timeframe = '1H'
start_date = pd.Timestamp("2013-01-01", tz="America/New_York").isoformat()

In [114]:
from finta import TA
historical_data = alpaca.get_bars(symbol, timeframe, start=start_date).df
historical_data['delta']=historical_data['close'].diff()
historical_data

,open,high,low,close,volume,trade_count,vwap,delta
timestamp,,,,,,,,
2015-12-01 14:00:00+00:00,16.830,16.9900,16.7800,16.890,22898,181,16.864430,NaN
2015-12-01 15:00:00+00:00,16.898,17.0200,16.8700,16.990,78694,308,16.908975,0.100
2015-12-01 16:00:00+00:00,16.980,16.9900,16.8100,16.865,77072,515,16.863682,-0.125
2015-12-01 17:00:00+00:00,16.860,16.9100,16.8300,16.890,47048,409,16.875734,0.025
2015-12-01 18:00:00+00:00,16.890,16.9900,16.8700,16.940,62483,579,16.916585,0.050
...,...,...,...,...,...,...,...,...
2023-03-27 17:00:00+00:00,8.615,8.6800,8.6050,8.645,59799,1038,8.629468,0.030
2023-03-27 18:00:00+00:00,8.650,8.7000,8.6300,8.680,93080,1226,8.670322,0.035
2023-03-27 19:00:00+00:00,8.685,8.7775,8.6750,8.730,260863,2965,8.733863,0.050
2023-03-27 20:00:00+00:00,8.730,8.7300,8.6649,8.710,114276,13,8.715719,-0.020
2023-03-27 22:00:00+00:00,8.920,8.9200,8.9200,8.920,200,1,8.920000,0.210

**For high risk tolerance**

In [116]:
symbol='EAST'
timeframe = '1H'
start_date = pd.Timestamp("2013-01-01", tz="America/New_York").isoformat()
east_data= alpaca.get_bars(symbol, timeframe, start=start_date).df
east_data['delta']=historical_data['close'].diff()
east_data

,open,high,low,close,volume,trade_count,vwap,delta
timestamp,,,,,,,,
2017-08-10 13:00:00+00:00,4.3500,4.3500,3.4500,3.50000,70776,196,3.673256,0.050
2017-08-10 14:00:00+00:00,3.5000,3.6000,3.3501,3.40000,41341,175,3.480739,-0.025
2017-08-10 15:00:00+00:00,3.4800,3.5175,3.4100,3.51000,16624,104,3.495431,0.025
2017-08-10 16:00:00+00:00,3.5100,3.5900,3.4500,3.49000,19577,67,3.505403,-0.275
2017-08-10 17:00:00+00:00,3.4900,3.5500,3.4800,3.50000,15151,62,3.489088,0.050
...,...,...,...,...,...,...,...,...
2023-03-27 15:00:00+00:00,0.2498,0.2498,0.2400,0.24841,35441,40,0.247954,-0.120
2023-03-27 16:00:00+00:00,0.2484,0.2600,0.2484,0.26000,6731,18,0.250451,0.055
2023-03-27 17:00:00+00:00,0.2594,0.2622,0.2594,0.26220,5192,22,0.260426,0.030
2023-03-27 18:00:00+00:00,0.2625,0.2625,0.2509,0.25090,308,4,0.258699,0.035
2023-03-27 19:00:00+00:00,0.2625,0.2625,0.2280,0.22800,23654,50,0.243125,0.050

**For medium risk tolerance**

In [118]:
symbol='AAPL'
timeframe = '1H'
start_date = pd.Timestamp("2013-01-01", tz="America/New_York").isoformat()
apple_data= alpaca.get_bars(symbol, timeframe, start=start_date).df
apple_data['delta']=historical_data['close'].diff()
apple_data

,open,high,low,close,volume,trade_count,vwap,delta
timestamp,,,,,,,,
2015-12-01 09:00:00+00:00,118.88,118.94,118.60,118.65,5825,15,118.696799,NaN
2015-12-01 10:00:00+00:00,118.65,118.72,118.50,118.72,7077,24,118.585340,NaN
2015-12-01 11:00:00+00:00,118.71,118.99,118.71,118.90,14956,72,118.858641,NaN
2015-12-01 12:00:00+00:00,118.88,118.98,118.76,118.94,24677,129,118.857629,NaN
2015-12-01 13:00:00+00:00,118.88,119.00,118.60,118.63,95036,309,118.732677,NaN
...,...,...,...,...,...,...,...,...
2023-03-27 19:00:00+00:00,159.06,159.21,157.97,158.30,8018260,79330,158.580279,0.05
2023-03-27 20:00:00+00:00,158.31,158.38,158.09,158.25,7434212,2081,158.278894,-0.02
2023-03-27 21:00:00+00:00,158.25,158.28,158.12,158.20,37125,507,158.494468,NaN
2023-03-27 22:00:00+00:00,158.18,158.21,158.03,158.18,32649,531,158.123701,0.21
2023-03-27 23:00:00+00:00,158.18,158.48,158.18,158.26,28463,465,158.292278,NaN

In [111]:
historical_data

,open,high,low,close,volume,trade_count,vwap,delta
timestamp,,,,,,,,
2015-12-01 14:00:00+00:00,16.830,16.9900,16.7800,16.890,22898,181,16.864430,NaN
2015-12-01 15:00:00+00:00,16.898,17.0200,16.8700,16.990,78694,308,16.908975,0.100
2015-12-01 16:00:00+00:00,16.980,16.9900,16.8100,16.865,77072,515,16.863682,-0.125
2015-12-01 17:00:00+00:00,16.860,16.9100,16.8300,16.890,47048,409,16.875734,0.025
2015-12-01 18:00:00+00:00,16.890,16.9900,16.8700,16.940,62483,579,16.916585,0.050
...,...,...,...,...,...,...,...,...
2023-03-27 17:00:00+00:00,8.615,8.6800,8.6050,8.645,59799,1038,8.629468,0.030
2023-03-27 18:00:00+00:00,8.650,8.7000,8.6300,8.680,93080,1226,8.670322,0.035
2023-03-27 19:00:00+00:00,8.685,8.7775,8.6750,8.730,260863,2965,8.733863,0.050
2023-03-27 20:00:00+00:00,8.730,8.7300,8.6649,8.710,114276,13,8.715719,-0.020
2023-03-27 22:00:00+00:00,8.920,8.9200,8.9200,8.920,200,1,8.920000,0.210

**VWAP Trading Signal**

We decide to buy/sell at points where the market price crosses the vwap.

In [73]:
historical_data['Predicted-vwap']=np.where(historical_data['vwap']>=historical_data['close'], 1,0)
historical_data['vwap-entry/exit']=historical_data['Predicted-vwap'].diff()
historical_data

,open,high,low,close,volume,trade_count,vwap,delta,Predicted-vwap,vwap-entry/exit,rsi
timestamp,,,,,,,,,,,
2015-12-01 09:00:00+00:00,209.43,209.440,209.2400,209.30,30375,82,209.322606,NaN,1,NaN,64.376590
2015-12-01 10:00:00+00:00,209.30,209.360,209.0700,209.36,54490,118,209.214253,0.06,0,-1.0,64.376590
2015-12-01 11:00:00+00:00,209.37,209.650,209.3700,209.44,44404,109,209.526441,0.08,1,1.0,64.376590
2015-12-01 12:00:00+00:00,209.45,209.590,209.3300,209.51,111106,234,209.460429,0.07,0,-1.0,64.376590
2015-12-01 13:00:00+00:00,209.52,209.670,209.2700,209.32,426233,645,209.429479,-0.19,1,1.0,64.376590
...,...,...,...,...,...,...,...,...,...,...,...
2023-03-27 17:00:00+00:00,396.45,397.545,396.0400,396.83,6612821,61078,396.892699,0.40,1,1.0,48.305458
2023-03-27 18:00:00+00:00,396.84,398.120,396.3850,398.04,6596038,57357,397.311483,1.21,0,-1.0,44.191019
2023-03-27 19:00:00+00:00,398.04,398.270,395.8400,396.45,18722834,131612,396.769091,-1.59,1,1.0,46.903255
2023-03-27 20:00:00+00:00,396.45,396.950,396.2524,396.92,6810725,5059,396.298439,0.47,0,-1.0,35.769695
2023-03-27 21:00:00+00:00,396.99,397.000,396.2735,396.92,1507958,325,396.295349,0.00,0,0.0,31.333186

In [74]:
from functools import lru_cache
@lru_cache(maxsize=None)

SyntaxError: unexpected EOF while parsing (4250197568.py, line 2)

**RSI**

The stock is considered overbought when the RSI rises above 70 and considered oversold when the RSI dips below 30

In [ ]:
import numpy as np

def calculate_rsi(price_diff, n=14):
    rsi=[0]*len(price_diff)
    #first n days
    up_mean=price_diff.head(n)[price_diff>0].mean(skipna=True)
    down_mean=abs(price_diff.head(n)[price_diff<=0].mean(skipna=True))
    rs=float(up_mean/down_mean)
    rsi[:n]=[100-(100/(1+rs))]*n

    for i in range(n,len(price_diff)):
        up_mean=price_diff[i-n:i][price_diff>0].mean()
        down_mean=abs(price_diff[i-n:i][price_diff<=0]).mean(skipna=True)
        rs=float(up_mean/down_mean)
        rsi[i]=100-(100/(1+rs))
    return rsi
historical_data['rsi'] = calculate_rsi(historical_data.loc[:,['delta']])

In [86]:
sma10=TA.SMA(historical_data,period=10)
historical_data['sma-10']=sma10
sma=[0]*len(historical_data['close'])
sum=0
close=historical_data['close']
for i in range(10):
    sum+=close[i]
avg=sum/10
historical_data.loc[historical_data.index[:10], 'sma-10'] = avg

sma50=TA.SMA(historical_data,period=50)
historical_data['sma-50']=sma50
sma=[0]*len(historical_data['close'])
sum=0
close=historical_data['close']
for i in range(50):
    sum+=close[i]
avg=sum/50
historical_data.loc[historical_data.index[:50], 'sma-50'] = avg

sma50=TA.SMA(historical_data,period=50)
historical_data['sma-50']=sma50
sma=[0]*len(historical_data['close'])
sum=0
close=historical_data['close']
for i in range(50):
    sum+=close[i]
avg=sum/50
historical_data.loc[historical_data.index[:50], 'sma-50'] = avg

sma200=TA.SMA(historical_data,period=200)
historical_data['sma-200']=sma200
sma=[0]*len(historical_data['close'])
sum=0
close=historical_data['close']
for i in range(200):
    sum+=close[i]
avg=sum/200
historical_data.loc[historical_data.index[:200], 'sma-200'] = avg

historical_data

,open,high,low,close,volume,trade_count,vwap,delta,Predicted-vwap,vwap-entry/exit,...,ema-3-entry/exit,Predicted ema-5,ema-5-entry/exit,Predicted ema-8,ema-8-entry/exit,Predicted ema-13,ema-13-entry/exit,sma-10,sma-50,sma-200
timestamp,,,,,,,,,,,,,,,,,,,,,
2015-12-01 09:00:00+00:00,209.43,209.440,209.2400,209.30,30375,82,209.322606,NaN,1,NaN,...,NaN,0,NaN,0,NaN,0,NaN,209.65000,209.028698,206.709873
2015-12-01 10:00:00+00:00,209.30,209.360,209.0700,209.36,54490,118,209.214253,0.06,0,-1.0,...,1.0,1,1.0,1,1.0,1,1.0,209.65000,209.028698,206.709873
2015-12-01 11:00:00+00:00,209.37,209.650,209.3700,209.44,44404,109,209.526441,0.08,1,1.0,...,0.0,1,0.0,1,0.0,1,0.0,209.65000,209.028698,206.709873
2015-12-01 12:00:00+00:00,209.45,209.590,209.3300,209.51,111106,234,209.460429,0.07,0,-1.0,...,0.0,1,0.0,1,0.0,1,0.0,209.65000,209.028698,206.709873
2015-12-01 13:00:00+00:00,209.52,209.670,209.2700,209.32,426233,645,209.429479,-0.19,1,1.0,...,-1.0,0,-1.0,0,-1.0,0,-1.0,209.65000,209.028698,206.709873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-27 17:00:00+00:00,396.45,397.545,396.0400,396.83,6612821,61078,396.892699,0.40,1,1.0,...,1.0,1,1.0,1,1.0,1,1.0,397.20399,394.742196,392.437965
2023-03-27 18:00:00+00:00,396.84,398.120,396.3850,398.04,6596038,57357,397.311483,1.21,0,-1.0,...,0.0,1,0.0,1,0.0,1,0.0,397.32499,394.732196,392.438615
2023-03-27 19:00:00+00:00,398.04,398.270,395.8400,396.45,18722834,131612,396.769091,-1.59,1,1.0,...,-1.0,0,-1.0,0,-1.0,0,-1.0,397.24999,394.689996,392.422365
2023-03-27 20:00:00+00:00,396.45,396.950,396.2524,396.92,6810725,5059,396.298439,0.47,0,-1.0,...,1.0,0,0.0,0,0.0,1,1.0,397.14599,394.785596,392.403065
2023-03-27 21:00:00+00:00,396.99,397.000,396.2735,396.92,1507958,325,396.295349,0.00,0,0.0,...,0.0,0,0.0,0,0.0,1,0.0,396.99999,394.876996,392.387865

We can use RSI in conjunction with the moving average---where we buy when the RSI is below 30 and the price crosses above the moving average and we sell when the RSI is above 70 and the price crosses below the moving average

In [101]:
historical_data['rsi with sma predicted'] = np.where(np.logical_and(historical_data['rsi'].diff() > 0, historical_data['sma-10'].diff() > 0), 1, 0)
historical_data['rsi entry/exit'] = historical_data['rsi with sma predicted'].diff()
#historical_data['rsi entry/exit'].sum()
historical_data['rsi entry/exit'].sum()
historical_data

,open,high,low,close,volume,trade_count,vwap,delta,Predicted-vwap,vwap-entry/exit,...,ema-5-entry/exit,Predicted ema-8,ema-8-entry/exit,Predicted ema-13,ema-13-entry/exit,sma-10,sma-50,sma-200,rsi with sma predicted,rsi entry/exit
timestamp,,,,,,,,,,,,,,,,,,,,,
2015-12-01 09:00:00+00:00,209.43,209.440,209.2400,209.30,30375,82,209.322606,NaN,1,NaN,...,NaN,0,NaN,0,NaN,209.65000,209.028698,206.709873,0,NaN
2015-12-01 10:00:00+00:00,209.30,209.360,209.0700,209.36,54490,118,209.214253,0.06,0,-1.0,...,1.0,1,1.0,1,1.0,209.65000,209.028698,206.709873,0,0.0
2015-12-01 11:00:00+00:00,209.37,209.650,209.3700,209.44,44404,109,209.526441,0.08,1,1.0,...,0.0,1,0.0,1,0.0,209.65000,209.028698,206.709873,0,0.0
2015-12-01 12:00:00+00:00,209.45,209.590,209.3300,209.51,111106,234,209.460429,0.07,0,-1.0,...,0.0,1,0.0,1,0.0,209.65000,209.028698,206.709873,0,0.0
2015-12-01 13:00:00+00:00,209.52,209.670,209.2700,209.32,426233,645,209.429479,-0.19,1,1.0,...,-1.0,0,-1.0,0,-1.0,209.65000,209.028698,206.709873,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-27 17:00:00+00:00,396.45,397.545,396.0400,396.83,6612821,61078,396.892699,0.40,1,1.0,...,1.0,1,1.0,1,1.0,397.20399,394.742196,392.437965,0,-1.0
2023-03-27 18:00:00+00:00,396.84,398.120,396.3850,398.04,6596038,57357,397.311483,1.21,0,-1.0,...,0.0,1,0.0,1,0.0,397.32499,394.732196,392.438615,0,0.0
2023-03-27 19:00:00+00:00,398.04,398.270,395.8400,396.45,18722834,131612,396.769091,-1.59,1,1.0,...,-1.0,0,-1.0,0,-1.0,397.24999,394.689996,392.422365,0,0.0
2023-03-27 20:00:00+00:00,396.45,396.950,396.2524,396.92,6810725,5059,396.298439,0.47,0,-1.0,...,0.0,0,0.0,1,1.0,397.14599,394.785596,392.403065,0,0.0
2023-03-27 21:00:00+00:00,396.99,397.000,396.2735,396.92,1507958,325,396.295349,0.00,0,0.0,...,0.0,0,0.0,1,0.0,396.99999,394.876996,392.387865,0,0.0

In [82]:
ema3 = TA.EMA(historical_data, period=3)
ema5 = TA.EMA(historical_data, period=5)
ema8 = TA.EMA(historical_data,period=8)
ema13 = TA.EMA(historical_data,period=13)
vwap=TA.VWAP(historical_data)


historical_data['ema-3']=ema3
historical_data['ema-5']=ema5
historical_data['ema-8']=ema8
historical_data['ema-13']=ema13

historical_data['Predicted ema-3']=np.where(historical_data['ema-3'].diff()>0, 1,0)
historical_data['ema-3-entry/exit']=historical_data['Predicted ema-3'].diff()

historical_data['Predicted ema-5']=np.where(historical_data['ema-5'].diff()>0, 1,0)
historical_data['ema-5-entry/exit']=historical_data['Predicted ema-5'].diff()


historical_data['Predicted ema-8']=np.where(historical_data['ema-8'].diff()>0, 1,0)
historical_data['ema-8-entry/exit']=historical_data['Predicted ema-8'].diff()

historical_data['Predicted ema-13']=np.where(historical_data['ema-13'].diff()>0, 1,0)
historical_data['ema-13-entry/exit']=historical_data['Predicted ema-13'].diff()



#just to confirm that this is accurate and matches with the vwap from alpaca

In [83]:
historical_data

,open,high,low,close,volume,trade_count,vwap,delta,Predicted-vwap,vwap-entry/exit,...,ema-8,ema-13,Predicted ema-3,ema-3-entry/exit,Predicted ema-5,ema-5-entry/exit,Predicted ema-8,ema-8-entry/exit,Predicted ema-13,ema-13-entry/exit
timestamp,,,,,,,,,,,,,,,,,,,,,
2015-12-01 09:00:00+00:00,209.43,209.440,209.2400,209.30,30375,82,209.322606,NaN,1,NaN,...,209.300000,209.300000,0,NaN,0,NaN,0,NaN,0,NaN
2015-12-01 10:00:00+00:00,209.30,209.360,209.0700,209.36,54490,118,209.214253,0.06,0,-1.0,...,209.333750,209.332308,1,1.0,1,1.0,1,1.0,1,1.0
2015-12-01 11:00:00+00:00,209.37,209.650,209.3700,209.44,44404,109,209.526441,0.08,1,1.0,...,209.378342,209.373858,1,0.0,1,0.0,1,0.0,1,0.0
2015-12-01 12:00:00+00:00,209.45,209.590,209.3300,209.51,111106,234,209.460429,0.07,0,-1.0,...,209.424486,209.416118,1,0.0,1,0.0,1,0.0,1,0.0
2015-12-01 13:00:00+00:00,209.52,209.670,209.2700,209.32,426233,645,209.429479,-0.19,1,1.0,...,209.392028,209.390564,0,-1.0,0,-1.0,0,-1.0,0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-27 17:00:00+00:00,396.45,397.545,396.0400,396.83,6612821,61078,396.892699,0.40,1,1.0,...,396.787631,396.538305,1,1.0,1,1.0,1,1.0,1,1.0
2023-03-27 18:00:00+00:00,396.84,398.120,396.3850,398.04,6596038,57357,397.311483,1.21,0,-1.0,...,397.065936,396.752833,1,0.0,1,0.0,1,0.0,1,0.0
2023-03-27 19:00:00+00:00,398.04,398.270,395.8400,396.45,18722834,131612,396.769091,-1.59,1,1.0,...,396.929061,396.709571,0,-1.0,0,-1.0,0,-1.0,0,-1.0
2023-03-27 20:00:00+00:00,396.45,396.950,396.2524,396.92,6810725,5059,396.298439,0.47,0,-1.0,...,396.927047,396.739633,1,1.0,0,0.0,0,0.0,1,1.0
2023-03-27 21:00:00+00:00,396.99,397.000,396.2735,396.92,1507958,325,396.295349,0.00,0,0.0,...,396.925481,396.765399,1,0.0,0,0.0,0,0.0,1,0.0